<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Maintanance</title>
    </head>
    <body>
        {{> header}}
        <p>No site for you!</p>

        {{> footer}}
    </body>
</html>